<launch>

  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>

  <arg name="valgrind" default="false"/>
  <arg if="$(arg valgrind)" name="valgrind_launch_prefix" value="valgrind --leak-check=full"/>
  <arg unless="$(arg valgrind)" name="valgrind_launch_prefix" value=""/>

<!--
  <include file="$(find dec_light_show_manager)/config/dec.machines" />
  <node pkg="dec_light_show_manager" type="dec_light_show_manager" args="" name="DecLightShowManager" output="screen" machine="mandy"/>
-->

  <include file="$(find dec_light_show_manager)/launch/load_light_show_params.launch"/>
  <node pkg="dec_light_show_manager" type="dec_light_show_manager_node" name="DecLightShowManager" output="screen" launch-prefix="$(arg launch_prefix) $(arg valgrind_launch_prefix)">
    <rosparam command="load" file="$(find dec_light_show_manager)/config/config.yaml" />
    <rosparam command="load" file="$(find dec_light_show_manager)/config/structure.yaml" />
    <rosparam command="load" file="$(find dec_light_show_manager)/config/simulation.yaml" />
  </node>

</launch>
