<launch>

  <arg name="dec_light_show_dir" value="$(find dec_light_shows)"/>

  <group ns="/DecLightShowManager/Audio">
    <rosparam command="load" file="$(find dec_audio)/config/audio_processor.yaml" />
  </group>

  <group ns="/DecLightShowManager/light_shows">

<!-- SENSORS -->
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/SensorButterworth.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/SensorLinearDecay.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/SensorLinearRise.yaml" />

<!-- LIGHT -->
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/LightInsideOut.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/LightOutsideIn.yaml" />

<!-- COLOR -->
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/ColorProcessor.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/ColorProcessor2.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/ColorProcessor3.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/ColorBlackWhiteProcessor.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/ColorBackgroundForegroundProcessor.yaml" />
    
<!-- OPEN_LOOP -->
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/OpenLoopBallRandom.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/OpenLoopBallExpand.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/OpenLoopPlane0.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/OpenLoopPlane1.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/OpenLoopPlane2.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/OpenLoopPlane3.yaml" />

    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/TestLightGenerator.yaml" />
    
<!-- IO -->
    
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IORecorder1.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IORecorder2.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IORecorder3.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IORecorder4.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IORecorder5.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IOPlayer1.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IOPlayer2.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IOPlayer3.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IOPlayer4.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/IOPlayer5.yaml" />

<!-- BRIGHTNESS -->

    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/BrightnessProcessor.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/BrightnessAudioProcessor.yaml" />

    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/Idle.yaml" />
  
  </group>

  <arg name="dec_light_show_manager_dir" value="$(find dec_light_show_manager)"/>
  <rosparam ns="/DecLightShowManager/light_show_stacks" command="load" file="$(arg dec_light_show_manager_dir)/config/light_show_stacks.yaml" />
  <rosparam ns="/DecLightShowManager" command="load" file="$(arg dec_light_show_manager_dir)/config/light_show_manager.yaml" />
  
</launch>
