<launch>

  <arg name="dec_light_show_dir" value="$(find dec_light_shows)"/>

  <group ns="/DecLightShowManager/light_shows">

    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/SensorProcessor.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/LightProcessor.yaml" />
    <rosparam command="load" file="$(arg dec_light_show_dir)/config/light_shows/OpenLoopLightGenerator.yaml" />
  
  </group>

  <arg name="dec_light_show_manager_dir" value="$(find dec_light_show_manager)"/>
  <rosparam ns="/DecLightShowManager/light_show_stacks" command="load" file="$(arg dec_light_show_manager_dir)/config/light_show_stacks.yaml" />
  <rosparam ns="/DecLightShowManager" command="load" file="$(arg dec_light_show_manager_dir)/config/light_show_manager.yaml" />
  
</launch>
