<launch>

  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>

  <arg name="valgrind" default="false"/>
  <arg if="$(arg valgrind)" name="valgrind_launch_prefix" value="valgrind --leak-check=full"/>
  <arg unless="$(arg valgrind)" name="valgrind_launch_prefix" value=""/>

<!--
  <include file="$(find dec_cloud_processor)/launch/tf_camera2.launch">
    <arg name="camera" value="camera2" />
  </include>
-->

  <node pkg="dec_cloud_processor" type="cloud_processor" name="CloudProcessor2" output="screen" launch-prefix="$(arg launch_prefix) $(arg valgrind_launch_prefix)">
    <rosparam command="load" file="$(find dec_cloud_processor)/config/cloud_processor.yaml" />
    <rosparam command="load" file="$(find dec_cloud_processor)/config/cloud_processor2.yaml" />
  </node>

</launch>
